@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "Master.cshtml";
}

@{
   var thumbnail = Model.Value<IPublishedContent>("thumbnailImage");
}


<div class="container">
    <div class="row">
        <div class="col-6 articleAuthor">
            <p>Author: @(Model.Value("authorName"))</p>
             
        </div>
        <div class="col-6 articleDate">
                <p>@(Model.Value<DateTime>("publishedOn").ToString("MMMM dd,yyyy"))</p>   
        </div>
    
    </div>
    <div class="row featuredImageRow my-5">
        <img class="featuredImage" src="@thumbnail.Url()" alt="No image"></img>
    </div>
    <div class="row text-center my-5">
        <h1>@Model.Value("articleTitle")</h1>
    </div>
    <div class="row my-5">
            @Model.Value("articleText")
    </div>
    
</div>
</div>