@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.TwoColumns)Model.Content;
    string backgroundImage = content.BackgroundImage != null ? $"background-image: url('{content.BackgroundImage.Url()}')" : "";
    string backgroundColor = !string.IsNullOrWhiteSpace(content.BackgroundColor) ? $"background-color: #{content.BackgroundColor}" : "";
    string fontColor = !string.IsNullOrWhiteSpace(content.FontColor) ? $"color: #{content.FontColor}" : "";
    string style = backgroundImage;
    if (!string.IsNullOrWhiteSpace(style))
        style += ";";
    style += backgroundColor;
    if (!string.IsNullOrWhiteSpace(style))
        style += ";";        
    style += fontColor;
}

<div class="backgroundImage @(content.IsBetweenSections ? "betweenSections" : "") @(content.MarginTop ? "pt-5" : null) @(content.MarginBottom ? "pb-5" : null)" style="@style">
    <div class="container">
        <div class="row 
            @(content.RemoveDefaultGap ? "no-gutters" :"") 
            @(content.RemoveMargins ? null : content.MarginTop ?  "pt-5" : "pt-3")  
            @(content.RemoveMargins ? null : content.MarginBottom ? "pb-5" : "pb-3")">
            <div class="col-6 col-md-6 d-flex justify-content-end">
                @Html.GetBlockListHtml(content.Column1, "slide")
            </div>            
            <div class="col-6 col-md-6">
                @Html.GetBlockListHtml(content.Column2, "slide")
            </div>
        </div>
    </div>
</div>
